---
import MainLayout from "@layouts/MainLayout.astro";
import Avatar from "@components/Avatar.astro";
import LinksLayout from "@layouts/LinksLayout.astro";
import Link from "@components/Link.astro";
import Social from "@components/Social.astro";
const links = await Astro.glob("./links/*.md");
---

<MainLayout title="jpc links">
  <Avatar />
  <LinksLayout>
    {
      links.map((link) => {
        return (
          <Link
            linkTitle={link.frontmatter.linkTitle}
            linkDescription={link.frontmatter.linkDescription}
            linkUrl={link.frontmatter.linkURL}
          />
        );
      })
    }
  </LinksLayout>
  <div style={{ color: "white" }}>
    I self-host freshrss, jellyfin, navidrome, immich, libreddit, and invidious
    instances. Contact me if you'd like access.
  </div>
  <Social />
</MainLayout>
