<div class="flex flex-col items-center justify-center w-full gap-y-6">
  <div
    class="text-m text-center text-white transition-all duration-500 lg:text-m"
  >
    Here's some tools I made that are useful to me. Maybe they'll be useful to
    you, too.
  </div>
  <slot />
</div>
